<section class="">
    <!-- {{!-- work experience --}} -->
    <div class="min-h-80 bg-white py-2 dark:bg-slate-950">
      <div class="max-w-max-width mx-auto">
    work experience
      </div>
    </div>
  
    <!-- {{!-- education and certifications --}} -->
     <div class="min-h-80 py-2">
          <div class="max-w-max-width mx-auto">
            <h3 class="mb-5 text-lg">Education, Certifications and Licences</h3>
    education
      </div>
    </div>
  
    <!-- {{!-- reviews --}} -->
    <div class="min-h-80 bg-white py-2">
      <div class="max-w-max-width mx-auto">
        testimonials
      </div>
    </div> 
  </section>