<div class="bg-white dark:bg-gray-800 sticky top-0 gap-2 z-20 py-2 border-b-2 max-sm:px-2">
  <nav class="max-w-max-width mx-auto flex items-center justify-between ">
    <a class="nav-link active" href="/">Nyadero</a>
    <div class="flex gap-3">
      <a class="nav-link active" href="/about">About</a>
      <a class="nav-link active" href="/projects">Projects</a>
      <a class="nav-link active" href="/blogs">Blogs</a>
    </div>

    <div class="flex gap-3">
      <button id="darkModeToggle" class="dark:bg-gray-800 rounded-md focus:outline-none">
          <span id="darkModeIcon" class="text-xl text-yellow-600 dark:text-yellow-600">🌙</span>
      </button>
    </div>
  </nav>
  
</div>