.carousel-container {
    position: relative;
  }
  
  .carousel {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
  }
  
  .slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    /* min-height: 350px; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .image {
    object-fit: cover;
  }
  

  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: blue;
    border: none;
    cursor: pointer;
    padding: 2px;
  }
  
  .prev {
    left: 2px;
  }
  
  .next {
    right: 2px;
  }
  