<section class="min-h-96 bg-inherit py-4 flex items-center max-sm:px-2  dark:bg-slate-950" id="">
    <div class="max-w-max-width mx-auto flex items-center justify-center flex-col">
        <div class="w-40 h-40 rounded-full shadow-md overflow-hidden flex items-center justify-center mb-3">
            <img src="assets/images/nyadero.jpg" alt="nyadero brian" width="100%" height="100%"
                class="w-full h-full object-cover">
        </div>

        <h3 class="text-xl font-medium mb-2">Hello, I am Nyadero Brian </h3>
        <p class="text-md mb-2 text-wrap w-3/5 text-center max-sm:w-full">
            I am a software engineer with a lot of experience on the backend and highly skilled at tech like Java and
            Kotlin.
            Besides these, I also work with Android, Angular, Nodejs, Python and much more.
        </p>

        <!-- {{!-- social links --}} -->
        <div class="flex items-center gap-3 justify-center">
            <!-- {{!-- github --}} -->
            <a class="h-8 w-8 " href="https://github.com/nyadero" target="_blank">
                <img src="assets/images/logos/icons/github.svg" class="w-full h-full object-cover" alt="github">
            </a>
            <!-- {{!-- linkedin --}} -->
            <a class="h-8 w-8 " href="https://www.linkedin.com/in/nyadero-brian/" target="_blank">
                <img src="assets/images/logos/icons/linkedin.svg" class="w-full h-full object-cover" alt="linkedin">
            </a>
            <!-- {{!-- twitter --}} -->
            <a class="h-8 w-8" href="https://x.com/Nyadero010" target="_blank">
                <img src="assets/images/logos/icons/twitter.svg" class="w-full h-full object-cover" alt="twitter">
            </a>
            <!-- {{!-- gmail --}} -->
            <a class="h-8 w-8 " href="mailto:briannyadero443@gmail.com">
                <img src="assets/images/logos/icons/gmail.svg" class="w-full h-full object-cover" alt="gmail">
            </a>

            <a href="assets/nyadero's_cv.pdf" target="_blank">
                <button class="bg-blue-500 rounded shadow p-2 text-white text-sm">View Resume</button>
            </a>

        </div>
    </div>
</section>

<!-- {{!-- skills --}} -->
<div class="min-h-fit py-4 max-sm:px-2 dark:bg-slate-950">
    <div class="max-w-max-width mx-auto">
        <h3 class="mb-3 text-lg font-medium">My Skills And Tech Stack</h3>
        <section class="flex items-center justify-center flex-wrap gap-4 py-4">
            <!-- {{!-- java --}} -->
            <div class="h-10 w-10 " *ngFor="let techStack of techStack">
                <img src="{{techStack.logo}}" class="w-full h-full object-cover"
                    alt="{{techStack.name}}">
            </div>
        </section>
    </div>

        <!-- soft skills --> 
         <!-- <div class="">
            <h3 class="text-lg capitalize">Soft Skills</h3>

            <div class="flex items-center justify-center flex-wrap gap-4 py-4">
               <h3 *ngFor="let skill of softSkills" class="bg-blue-500 p-2 rounded shadow text-white text-sm">{{skill}}</h3>
            </div>
         </div> -->

         <!-- preferred comany culture and industry -->
         <!-- <div class="">
            <h3 class="text-lg capitalize">Preferred company culture</h3>

            <div class="flex items-center justify-center flex-wrap gap-4 py-4">
                <h3 *ngFor="let skill of softSkills" class="bg-blue-500 p-2 rounded shadow text-white text-sm">{{skill}}</h3>
             </div>
         </div> -->

    <!-- </div> -->

    </div>

    <!-- {{!-- services --}} -->
    <div class="min-h-fit py-5  max-sm:px-2 flex items-center flex-col justify-center dark:bg-slate-950">
        <div class="max-w-max-width mx-auto ">
            <h3 class="mb-3 text-lg font-semibold">My Services</h3>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-sm:grid-cols-1 gap-4 h-full">
                <!-- {{!-- frontend --}} -->
                <div class="bg-white p-2 rounded-md shadow">
                    <!-- <div class="h-20 w-20">
                        <img src="/images/nyadero.jpg" alt="" class="w-full h-full object-cover ">
                    </div> -->
                    <h3 class="my-1 font-medium text-lg capitalize text-blue-400">Data Analytics</h3>
                    <p class="">
                      I do data analysis and create visually stunning but also insightful dashboards. 
                    </p>
                </div>
                <!-- {{!-- backend --}} -->
                <div class="bg-white p-2 rounded-md shadow">
                    <!-- <div class="h-20 w-20">
                        <img src="/images/nyadero.jpg" alt="" class="w-full h-full object-cover ">
                    </div> -->
                    <h3 class="my-1 font-medium text-lg capitalize text-blue-400">Backend development</h3>
                    <p class="">
                        I develop highy scalable, maintanable and performant restful and graphql apis.
                    </p>
                </div>
                <!-- {{!-- fullstack --}} -->
                <div class="bg-white p-2 rounded-md shadow">
                    <!-- <div class="h-20 w-20">
                        <img src="/images/nyadero.jpg" alt="" class="w-full h-full object-cover ">
                    </div> -->
                    <h3 class="my-1 font-medium text-lg text-blue-400">Website Development</h3>
                    <p class="">
                        I develop fullstack or frontend websites.
                    </p>
                </div>
                <!-- {{!-- mobile application --}} -->
                <div class="bg-white p-2 rounded-md shadow">
                    <!-- <div class="h-20 w-20">
                        <img src="/images/nyadero.jpg" alt="" class="w-full h-full object-cover ">
                    </div> -->
                    <h3 class="my-1 font-medium text-lg capitalize text-blue-400">Mobile apps</h3>
                    <p class="text-base">
                        I do native android development using java and kotlin.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- {{!-- recent projects --}} -->
    <div class="min-h-80 py-5 mb-4 max-sm:px-2 dark:bg-black">
        <div class="max-w-max-width mx-auto">
            <div class="my-2 flex items-center justify-between">
                <h3 class="font-medium text-lg">My Latest Projects</h3>
                <a href="/projects" class="text-blue-500 dark:text-blue-500 underline-offset-1">All Projects</a>
            </div>

            <!-- {{!-- projects list --}} -->
            <div *ngIf="projects.length" class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 lg:grid-cols-4 gap-2">
                <app-project *ngFor="let project of projects" [project]="project"></app-project>
            </div>

            <div *ngIf="!projects.length">
               <app-nodata message="Nyadero has not added any projects" ></app-nodata>
            </div>
        </div>
    </div>

    <!-- {{!-- what i am looking for --}} -->
    <div class="min-h-80 py-5  max-sm:px-2 dark:bg-black">
        <div class="max-w-max-width mx-auto flex items-center gap-5 max-sm:flex-col">
            <div class="w-1/2">
                <h3 class="font-medium text-lg mb-4">What I am looking for</h3>
                <p class="text-lg">
                    I'm actively seeking for junior to senior developer roles in the either android or backend development.
                    My preferred organizations are those that embrace technology, encourage innovation, support professional development,
                     and offer opportunities to work on impactful projects, possibly within startup or tech-forward environments.
                     If you're hiring for such roles or know of any relevant opportunities, feel free to reach out to me!
                </p>
            </div>
            

            <!-- image -->
             <div class="w-1/2">
                <div class="flex items-center justify-center">
                    <img src="assets/images/opportunities.jpg" class="w-full object-cover rounded-md shadow"
                    alt="what i am looking for"/>
                </div>
             </div>
        </div>
     </div>


     <div class="min-h-80 py-2 dark:bg-slate-950">
        <div class="max-w-max-width mx-auto">
          <h3 class="text-lg mb-2 capitalize">work experience</h3>
    
          <!-- show experience if available -->
          <div *ngIf="experiences.length" class="grid grid-cols-1 md:grid-cols-2 max-sm:grid-cols-1 gap-5">
            <app-experience *ngFor="let experience of experiences" [experience]="experience" ></app-experience>
          </div>
    
          <!-- show nodata if not available -->
          <div *ngIf="!experiences.length">
            <app-nodata message="Nyadero has not updated his work experience"></app-nodata>
          </div>
        </div>
      </div>


    <!-- {{!-- project discussion --}} -->
    <div class="min-h-80 py-5 flex justify-center max-sm:px-2 dark:bg-black">
        <div
            class="max-w-max-width mx-auto flex items-center justify-center gap-5 max-sm:px-2 max-sm:flex-col flex-auto">
            <div class="flex-1">
                <h3 class="mb-2 text-lg">Let's discuss your project</h3>
                <p>
                    I am open for freelance jobs. Contact me so that we can discuss your project.
                    If I can't take it, i can link you up with someone who can deliver.
                </p>
                <!-- {{!-- social links --}} -->
                <div class="flex items-center gap-2 justify-start my-4">
                    <!-- {{!-- whatsapp --}} -->
                    <a class="h-8 w-8 " href="https://wa.me/0741534141" target="_blank">
                        <img src="assets/images/logos/icons/whatsapp.svg" class="w-full h-full object-cover"
                            alt="whatsapp">
                    </a>
                    <!-- {{!-- gmail --}} -->
                    <a class="h-8 w-8 " href="mailto:briannyadero443@gmail.com">
                        <img src="assets/images/logos/icons/gmail.svg" class="w-full h-full object-cover" alt="email">
                    </a>
                    <!-- {{!-- phone --}} -->
                    <a class="h-8 w-8" href="tel:+254741534141">
                        <img src="assets/images/logos/icons/phone.svg" class="w-full h-full object-cover" alt="phone">
                    </a>

                </div>
            </div>

            <!-- {{!-- image --}} -->
            <div class="w-1/2">
                <div class="flex items-center justify-center">
                    <img src="assets/images/mobileapps.jpg" class="w-full object-cover rounded-md shadow-md"
                    alt="contact me"/>
                </div>
             </div>


    </div>
</div>