<section class="min-h-96 bg-inherit py-4 flex items-center max-sm:px-2 bg-white dark:bg-slate-950" id="">
    <div class="max-w-max-width mx-auto flex items-center justify-center flex-col">
        <div class="w-40 h-40 rounded-full shadow-md overflow-hidden flex items-center justify-center mb-3">
            <img src="assets/images/nyadero.jpg" alt="nyadero brian" width="100%" height="100%"
                class="w-full h-full object-cover">
        </div>

        <h3 class="text-xl font-medium mb-2">Hello, I am Nyadero Brian </h3>
        <p class="text-md mb-2 text-wrap w-3/5 text-center max-sm:w-full">
            I am a full-stack developer with a lot of experience on the backend and highly skilled at tech like Java and
            Kotlin.
            Besides these, I also work with Android, Angular, Nodejs, Python and much more.
        </p>

        <!-- {{!-- social links --}} -->
        <div class="flex items-center gap-3 justify-center">
            <!-- {{!-- github --}} -->
            <a class="h-8 w-8 " href="https://github.com/nyadero" target="_blank">
                <img src="assets/images/logos/icons/github.svg" class="w-full h-full object-cover" alt="github">
            </a>
            <!-- {{!-- linkedin --}} -->
            <a class="h-8 w-8 " href="https://www.linkedin.com/in/nyadero-brian/" target="_blank">
                <img src="assets/images/logos/icons/linkedin.svg" class="w-full h-full object-cover" alt="linkedin">
            </a>
            <!-- {{!-- twitter --}} -->
            <a class="h-8 w-8" href="https://x.com/Nyadero010" target="_blank">
                <img src="assets/images/logos/icons/twitter.svg" class="w-full h-full object-cover" alt="twitter">
            </a>
            <!-- {{!-- gmail --}} -->
            <a class="h-8 w-8 " href="mailto:briannyadero443@gmail.com">
                <img src="assets/images/logos/icons/gmail.svg" class="w-full h-full object-cover" alt="gmail">
            </a>

            <a href="assets/nyadero's_cv.pdf" target="_blank">
                <button class="bg-blue-500 rounded shadow p-2 text-white">View Resume</button>
            </a>

        </div>
    </div>
</section>

<!-- {{!-- skills --}} -->
<div class="min-h-fit py-4 max-sm:px-2 dark:bg-black">
    <div class="max-w-max-width mx-auto">
        <h3 class="mb-3 text-lg font-medium">My Skills And Tech Stack</h3>

        <section class="flex items-center justify-center flex-wrap gap-4 py-4">
            <!-- {{!-- java --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/languages/java.svg" class="w-full h-full object-cover"
                    alt="java programming language">
            </div>

            <!-- {{!-- kotlin --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/languages/kotlin.svg" class="w-full h-full object-cover"
                    alt="kotlin programming language">
            </div>

            <!-- {{!-- typescript --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/languages/typescript.svg" class="w-full h-full object-cover"
                    alt="typescript programming language">
            </div>
            <!-- {{!-- javascript --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/languages/javascript.svg" class="w-full h-full object-cover"
                    alt="javascript programming language">
            </div>
            <!-- {{!-- c++ --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/languages/c++.svg" class="w-full h-full object-cover"
                    alt="c++ programming language">
            </div>

            <!-- {{!-- python --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/languages/python.svg" class="w-full h-full object-cover"
                    alt="python programming language">
            </div>

            <!-- {{!-- angular --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/frameworks/angular.svg" class="w-full h-full object-cover" alt="angular">
            </div>

            <!-- {{!-- android --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/frameworks/android.svg" class="w-full h-full object-cover" alt="android">
            </div>

            <!-- {{!-- spring --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/frameworks/spring.svg" class="w-full h-full object-cover" alt="spring">
            </div>

            <!-- {{!-- nodejs --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/frameworks/nodejs.svg" class="w-full h-full object-cover" alt="nodejs">
            </div>

            <!-- {{!-- nestjs --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/frameworks/Nestjs.svg" class="w-full h-full object-cover" alt="nestjs">
            </div>

            <!-- {{!-- mysql --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/databases/mysql.svg" class="w-full h-full object-cover" alt="mysql">
            </div>

            <!-- {{!-- postgresql --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/databases/postgresql.svg" class="w-full h-full object-cover"
                    alt="postgresql">
            </div>

            <!-- {{!-- mongo --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/databases/mongodb.svg" class="w-full h-full object-cover" alt="mongo">
            </div>

            <!-- {{!-- redis --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/databases/redis.svg" class="w-full h-full object-cover" alt="redis">
            </div>

            <!-- {{!-- docker --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/cloud/docker.svg" class="w-full h-full object-cover" alt="docker">
            </div>

            <!-- {{!-- firebase --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/cloud/firebase.svg" class="w-full h-full object-cover" alt="firebase">
            </div>

            <!-- {{!-- github --}} -->
            <div class="h-10 w-10 ">
                <img src="assets/images/logos/icons/github.svg" class="w-full h-full object-cover" alt="github">
            </div>

        </section>

    </div>

    <!-- {{!-- services --}} -->
    <div class="min-h-fit py-5 bg-white max-sm:px-2 flex items-center flex-col justify-center dark:bg-slate-950">
        <div class="max-w-max-width mx-auto ">
            <h3 class="mb-3">What I offer</h3>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-sm:grid-cols-1 gap-4 h-full">
                <!-- {{!-- frontend --}} -->
                <div class="bg-blue-500 p-2 rounded-md shadow">
                    <div class="h-20 w-20">
                        <img src="/images/nyadero.jpg" alt="" class="w-full h-full object-cover ">
                    </div>
                    <h3 class="text-white my-1 text-start">Frontend development</h3>
                    <p class="text-white">
                        I design and develop static websites or landing pages for businesses, schools, etc. I also do
                        frontend development for websites that consume data from
                        a backend api using Angular.
                    </p>
                </div>
                <!-- {{!-- backend --}} -->
                <div class="bg-blue-500 p-2 rounded-md shadow ">
                    <div class="h-20 w-20">
                        <img src="/images/nyadero.jpg" alt="" class="w-full h-full object-cover ">
                    </div>
                    <h3 class="text-white my-1">Backend development</h3>
                    <p class="text-white">
                        I develop highy scalable, maintanable and performant restful and graphql apis. I use springboot,
                        nestjs and
                        dotnet
                    </p>
                </div>
                <!-- {{!-- fullstack --}} -->
                <div class="bg-blue-500 p-2 rounded-md shadow ">
                    <div class="h-20 w-20">
                        <img src="/images/nyadero.jpg" alt="" class="w-full h-full object-cover ">
                    </div>
                    <h3 class="text-white my-1">Fullstack Development</h3>
                    <p class="text-white">
                        I develop dynamic websites with databases using nestjs mvc and handlebars templating engine.
                    </p>
                </div>
                <!-- {{!-- mobile application --}} -->
                <div class="bg-blue-500 p-2 rounded-md shadow  text-white">
                    <div class="h-20 w-20">
                        <img src="/images/nyadero.jpg" alt="" class="w-full h-full object-cover ">
                    </div>
                    <h3 class="text-white my-1">Mobile apps development</h3>
                    <p class="text-white">
                        I do native android development using java and kotlin.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- {{!-- recent projects --}} -->
    <div class="min-h-80 py-2 max-sm:px-2 dark:bg-black">
        <div class="max-w-max-width mx-auto">
            <div class="my-2 flex items-center justify-between">
                <h3 class="font-semibold text-lg">My Latest Projects</h3>
                <a href="/projects" class="text-blue-500 dark:text-blue-500 underline-offset-1">All Projects</a>
            </div>

            <!-- {{!-- projects list --}} -->
            <div *ngIf="projects.length" class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 lg:grid-cols-4 gap-2">
                <app-project *ngFor="let project of projects" [project]="project"></app-project>
            </div>

            <div *ngIf="!projects.length">
               <h3>No projects added</h3>
            </div>
        </div>
    </div>

    <!-- {{!-- pinned github --}} -->

    <!-- {{!-- project discussion --}} -->
    <div class="min-h-80 py-2 flex justify-center max-sm:px-2 dark:bg-black">
        <div
            class="max-w-max-width mx-auto flex items-center justify-center gap-5 max-sm:px-2 max-sm:flex-col flex-auto">
            <div class="flex-1">
                <h3 class="mb-2 text-lg">Let's discuss your project</h3>
                <p>
                    I am open for freelance jobs. Contact me so that we can discuss your project.
                    If I can't take it, i can link you up with someone who can deliver.
                </p>
                <!-- {{!-- social links --}} -->
                <div class="flex items-center gap-2 justify-start my-4">
                    <!-- {{!-- whatsapp --}} -->
                    <a class="h-8 w-8 " href="https://wa.me/0741534141" target="_blank">
                        <img src="assets/images/logos/icons/whatsapp.svg" class="w-full h-full object-cover"
                            alt="whatsapp">
                    </a>
                    <!-- {{!-- gmail --}} -->
                    <a class="h-8 w-8 " href="mailto:briannyadero443@gmail.com">
                        <img src="assets/images/logos/icons/gmail.svg" class="w-full h-full object-cover" alt="email">
                    </a>
                    <!-- {{!-- phone --}} -->
                    <a class="h-8 w-8" href="tel:+254741534141">
                        <img src="assets/images/logos/icons/phone.svg" class="w-full h-full object-cover" alt="phone">
                    </a>

                </div>
            </div>

            <!-- {{!-- image --}} -->
            <div class="flex-1 flex items-center justify-center">
                <div class="w-40 h-40 rounded-full shadow-md overflow-hidden flex items-center justify-center mb-3">
                    <img src="assets/images/nyadero.jpg" alt="nyadero brian" width="100%" height="100%"
                        class="w-full h-full object-cover">
                </div>
            </div>

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </div>
</div>