.carousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: auto;
  }
  
  .carousel img {
    width: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel img.active {
    display: block;
  }
  